extends layout

block content
  span(ng-init="user = " + JSON.stringify(user))
  div(ui-view="navbar")
  .row.m-t-3.p-t-2
    .col-md-3
      div(ui-view="sidebar")
    .col-md-9
      div(ui-view="main")

  .row
    .col-md-6
    .col-md-6
      img.full-width(src="/images/footer.jpg")
      .text-xs-left.footer-image-text
        p
          small کلیه حقوق معنوی و مادی این سایت متعلق به گروه مهرایان می باشد 
          a(href="http://mehrayan.com") مهرایان 
          small می باشد
          
          


  script(src="/build/js/app.module.js")
  